@charset "UTF-8";
/*Slide Boostrap*/
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap");
#carouselExampleIndicators {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1 {
  color: #006678;
  font-family: 'Josefin Sans','Lato', sans-serif;
  text-align: center;
  font-size: 2.2em;
  z-index: 3;
}

h2 {
  color: #006678;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 2.2em;
  margin: 0.8em;
  z-index: 3;
}

h3 {
  color: #006678;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 1.5em;
}

h4 {
  color: #006678;
  font-family: 'Josefin Sans','Lato', sans-serif;
  text-align: center;
  font-size: 0.9em;
}

h5 {
  color: #006678;
  font-family: 'Josefin Sans','Lato', sans-serif;
  text-align: center;
  font-size: 0.9em;
}

li {
  list-style: none;
  font-family: 'Josefin Sans', sans-serif;
  color: gray;
}

a {
  color: #000;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

a:hover {
  font-weight: 600;
  text-decoration: none;
}

header {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: white;
  z-index: 20;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 100%;
}

nav ul {
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 10%;
}

.ingreso {
  border: solid 1px;
  background-color: #00878A;
  color: floralwhite;
  padding: 1%;
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
}

.slider__titulo {
  color: white;
  font-size: 6em;
  font-family: 'Josefin Sans','Lato', sans-serif;
  text-align: left;
  font-weight: 700;
}

.portadas__titulo {
  color: white;
  font-size: 6em;
  font-family: 'Josefin Sans','Lato', sans-serif;
  text-align: center;
  font-weight: 700;
  padding-top: 5%;
}

footer {
  margin-top: 30px;
  margin-bottom: 5px;
}

.container__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.row__footer {
  margin-top: 20px;
}

.row__footer img {
  width: 40px;
  height: 40px;
  margin-left: 20px;
}

.mail {
  text-align: center;
  margin-top: 20px;
}

@media only screen and (max-width: 1000px) {
  .container_body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

/*GALERIA CON GRID*/
.animacion {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-animation-name: aparecer;
          animation-name: aparecer;
}

@-webkit-keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes aparecer {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[8];
      grid-template-columns: repeat(8, 1fr);
  -ms-grid-rows: (5vw)[8];
      grid-template-rows: repeat(8, 5vw);
  grid-gap: 15px;
  padding-right: 6%;
  padding-left: 6%;
  padding-top: 20px;
}

.gallery .imagenGallery {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.gallery .imagenGallery:hover {
  -webkit-transform: scale(1.02, 1.02);
          transform: scale(1.02, 1.02);
}

.foto1 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.foto2 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.foto3 {
  -ms-grid-column: 5;
      grid-column-start: 5;
  grid-column-end: 9;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 6;
}

.foto4 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 5;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 6;
}

.foto5 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 8;
}

.foto6 {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
}

.foto7 {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 7;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
}

.foto8 {
  -ms-grid-column: 7;
      grid-column-start: 7;
  grid-column-end: 9;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 9;
}

/*contacto*/
#contacto {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

.card:hover {
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 2px 2px 12px 6px rgba(83, 83, 83, 0.2);
  box-shadow: 2px 2px 12px 6px rgba(83, 83, 83, 0.2);
}

.card a {
  font-weight: 500;
  color: #006678;
  margin-top: 2px;
}

.card {
  -webkit-box-shadow: 1px 1px 1px 1px rgba(83, 83, 83, 0.2);
          box-shadow: 1px 1px 1px 1px rgba(83, 83, 83, 0.2);
  height: 450px;
}

.card-title {
  margin-bottom: 2px;
}

/* css de quienes somos*/
#parrafoQuienesSomos {
  margin: 5% 15% 5% 15%;
  color: #353333;
  font-size: 20px;
}

/*RELATOS*/
.contenedor__Relatos {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contenedor__Relatos .linkRelatos {
  height: 250px;
  width: 300px;
  border: 3 px solid black;
  margin: 10px;
  padding: 5px;
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.contenedor__Relatos .linkRelatos img {
  height: 200px;
  width: 300px;
}

.contenedor__Relatos .linkRelatos:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  -webkit-box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.texto__Relatos {
  text-align: justify;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 1.1rem;
  letter-spacing: 1px;
  word-spacing: 1px;
  line-height: 25px;
  font-family: 'Lato';
  font-weight: 900;
}

.video {
  text-align: center;
  margin-top: 50px;
}

/*Foto fija fondo*/
/*ROMA*/
.foto__portada__roma {
  background-image: url(../images/Fontana_di_trevi.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
  margin-bottom: 3%;
}

.foto__fija1__roma {
  background-image: url(../images/Coliseo-Romano.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  width: 100%;
}

.foto__fija2__roma {
  background-image: url(../images/plaza_españa.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  width: 100%;
}

.foto__fija3__roma {
  background-image: url(../images/Capilla_Sixtina.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  width: 100%;
}

/*PARIS*/
.foto__portada__paris {
  background-image: url(../images/torre_eiffel.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
  margin-bottom: 3%;
}

.foto__moverse__paris {
  background-image: url(../images/cartel_metro_paris.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
  margin-bottom: 3%;
}

.foto__aeropuerto__paris {
  background-image: url(../images/estilo_frances.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
  margin-bottom: 3%;
}

.foto__fija1__paris {
  background-image: url(../images/campo_marte.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  width: 100%;
}

.foto__fija2__paris {
  background-image: url(../images/arco_del_triunfo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  width: 100%;
}

.foto__fija3__paris {
  background-image: url(../images/museo_lourve.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  width: 100%;
}

/*MADRID*/
.foto__portada__madrid {
  background-image: url(../images/Detalles-España2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
  margin-bottom: 3%;
}

.imagen_clasica {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2em;
  height: 20%;
  width: 50%;
  border-radius: 5%;
}

.foto__aeropuerto__madrid {
  background-image: url(../images/Detalles-España.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
  margin-bottom: 3%;
}

.foto__moverse__madrid {
  background-image: url(../images/Casas-Madrileñas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 25em;
  width: 100%;
  margin-bottom: 3%;
}

.foto__fija1__madrid {
  background-image: url(../images/Oso-y-el-Madroño.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  width: 100%;
}

.foto__fija2__madrid {
  background-image: url(../images/Puerta-de-Alcalá.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  width: 100%;
}

.foto__fija3__madrid {
  background-image: url(../images/Parque-del-Retiro.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 20em;
  width: 100%;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 70%;
  margin: auto;
  margin-bottom: 15px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

/* FUENTES*/
/*# sourceMappingURL=main.css.map */