
footer{
    margin-top: 30px;
    margin-bottom: 5px;
    //border: solid 1px black; 
}
.container__footer{
    display: flex;
    justify-content:center;
}
.row__footer{
    margin-top: 20px;  
}
.row__footer img{
    width: 40px;
    height: 40px;
    margin-left: 20px;
}
.mail{
    text-align: center;
    margin-top: 20px;
}
@media only screen and (max-width: 1000px){
.container_body{
    flex-wrap: wrap;
}
}