 /*Foto fija fondo*/
/*ROMA*/
.foto__portada__roma{
    background-image: url(../images/Fontana_di_trevi.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    width: 100%;
    margin-bottom: 3%;
    }


.foto__fija1__roma{
    background-image: url(../images/Coliseo-Romano.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
    width: 100%;
    }
.foto__fija2__roma{
       background-image: url(../images/plaza_españa.jpg);
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       height: 20em;
       width: 100%;
       }
.foto__fija3__roma{
          background-image: url(../images/Capilla_Sixtina.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          height: 20em;
          width: 100%;
          }

/*PARIS*/
.foto__portada__paris{
    background-image: url(../images/torre_eiffel.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    width: 100%;
    margin-bottom: 3%;
    }

    .foto__moverse__paris{
        background-image: url(../images/cartel_metro_paris.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 25em;
        width: 100%;
        margin-bottom: 3%;
        }
        .foto__aeropuerto__paris{
            background-image: url(../images/estilo_frances.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            height: 25em;
            width: 100%;
            margin-bottom: 3%;
            }

.foto__fija1__paris{
    background-image: url(../images/campo_marte.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
    width: 100%;
    }
.foto__fija2__paris{
       background-image: url(../images/arco_del_triunfo.jpg);
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       height: 20em;
       width: 100%;
       }
.foto__fija3__paris{
          background-image: url(../images/museo_lourve.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          height: 20em;
          width: 100%;
          }
 /*MADRID*/
 .foto__portada__madrid{
    background-image: url(../images/Detalles-España2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 25em;
    width: 100%;
    margin-bottom: 3%;
    }
    
    .imagen_clasica{
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 2em;
        height: 20%;
        width: 50%;
        border-radius: 5%;
        
    }
    .foto__aeropuerto__madrid{
        background-image: url(../images/Detalles-España.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 25em;
        width: 100%;
        margin-bottom: 3%;
        }


    .foto__moverse__madrid{
        background-image: url(../images/Casas-Madrileñas.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 25em;
        width: 100%;
        margin-bottom: 3%;
        }
.foto__fija1__madrid{
    background-image: url(../images/Oso-y-el-Madroño.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
    width: 100%;
    }
.foto__fija2__madrid{
       background-image: url(../images/Puerta-de-Alcalá.jpg);
       background-repeat: no-repeat;
       background-attachment: fixed;
       background-size: cover;
       height: 20em;
       width: 100%;
       }
.foto__fija3__madrid{
          background-image: url(../images/Parque-del-Retiro.jpg);
          background-repeat: no-repeat;
          background-attachment: fixed;
          background-size: cover;
          height: 20em;
          width: 100%;
          }         