/* Cuadricula de GRID*/
.gridConteiner{
    display: grid;
    grid-template-areas: 
    "header header header header"
    "slide slide slide slide"
    "loMasLedio loMasLedio loMasLedio loMasLedio"
    "recomendado recomendado recomendado recomendado"
    "footer footer footer footer";
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    grid-template-rows: 0.2fr 0.8fr 1.3fr 1.3fr 0.1fr;

}

.headerGrid{
    grid-area: header;
    z-index: 2;
     
}
.slideGrid{
    grid-area: slide;
    
}
.loMasLedioGrid{
    grid-area: loMasLedio;
    
    
}
.recomendadoGrid{
    grid-area: recomendado;
    
    
}
.footerGrid{
    grid-area: footer;  
    
}
/* Cuadricula de GRID*/