/*RELATOS*/

.contenedor__Relatos {
    text-align: center;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contenedor__Relatos .linkRelatos {
    height: 250px;
    width: 300px;
    /*background-color: lightblue;*/
    border: 3 px solid rgb(0, 0, 0);
    margin: 10px;
    padding: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.contenedor__Relatos .linkRelatos img{
    height: 200px;
    width: 300px;
}

.contenedor__Relatos .linkRelatos:hover {
transform: translateY(-10px);
box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.texto__Relatos{
    text-align: justify;
    margin-right: 10%;
    margin-left: 10%;
    font-size: 1.1rem;
    letter-spacing: 1px;
    word-spacing: 1px;
    line-height: 25px;
    font-family: 'Lato';
    font-weight: 900;
}

.video {
    text-align: center;
     margin-top:(100px/2);
 }

