.card:hover {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px); 
    -webkit-box-shadow: 2px 2px 12px 6px rgba(83, 83, 83, 0.2);
    box-shadow: 2px 2px 12px 6px rgba(83, 83, 83, 0.2);
  }
  
  .card a {  
    font-weight: 500;
    color: #006678; 
    margin-top: 2px; 
  }

  .card {
    box-shadow: 1px 1px 1px 1px rgba(83, 83, 83, 0.2);
    height: 450px;  
      }


  .card-title{
      margin-bottom: 2px;
  }



  
